{% extends 'base.html.twig' %}

{% block title %}Lego List{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
{% endblock %}

{% block body %}
    <nav>
        <a href="/brick_store">Pick a brick !</a>|
        <a href="/">All</a>|
        {% if app.user %}
            {% for collection in collections %}
                <a href="{{ path('lego', {id: collection.id}) }}">{{ collection.name }} </a>|
            {% endfor %}
            <span>Bonjour {{ app.user.email }} !</span>
            <a href="{{ path('lego_store_logout') }}">Se déconnecter</a>
        {% else %}
            {% for collection in collections %}
                {% if not collection.isPremium %}
                    <a href="{{ path('lego', {id: collection.id}) }}">{{ collection.name }} </a>|
                {% endif %}
            {% endfor %}
            <a href="{{ path('lego_store_login') }}">Se connecter</a>
        {% endif %}
    </nav>
    <ul>
        {% for lego in legos %}
                <div class="lego_card">
                    <div class="info_section">
                        <div class="lego_header">
                            <img class="locandina" src="{{ asset('images/' ~ lego.imageBox) }}" alt="Box Image"/>
                            <h2>{{ lego.name }}</h2>
                            <h4>Collection: {{ lego.collection.name }}</h4>
                            <span class="pieces">Pieces: {{ lego.pieces }}</span>
                            <p class="price">{{ lego.price }}€</p><br>
                            <a href="index.php?buy={{ lego.id }}"><button>Buy</button></a>
                        </div>
                        <div class="lego_desc">
                            <p class="text">{{ lego.description }}</p>
                        </div>
                        <div class="lego_social">
                            <ul>
                                <li><i class="material-icons">share</i></li>
                                <li><i class="material-icons"></i></li>
                                <li><i class="material-icons">chat_bubble</i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blur_back">
                        <img src="{{ asset('images/' ~ lego.imagebg) }}" alt="Background Lego Image">
                    </div>
                </div>
        {% endfor %}
    </ul>
{% endblock %}

    {# <nav>
        <a href="/">All</a>|
        
        {% for collection in collections %}
            {% if collection.name != "Premium" %}
            <a href="{{ path('lego', {id: collection.id}) }}">{{ collection.name }} </a>|
            {% endif %}
        {% endfor %}
        {% if app.user %}
            {% for collection in collections %}
                {% if collection.name == "Premium" %}
                    <a href="{{ path('lego', {id: collection.id}) }}">{{ collection.name }} </a>|
                {% endif %}
            {% endfor %}
            <span>Bonjour {{ app.user.email }} !</span>

            <a href="{{ path('lego_store_logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{ path('lego_store_login') }}">Se connecter</a>
        {% endif %}
    </nav> #}
